[interactive]
	diffFilter = delta --color-only --features=interactive
[alias]
  ap = add --patch
  please = push --force-with-lease
  ignore = !git update-index --assume-unchanged 
  unignore = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]
  ae = add --edit
[user]
	email = shashwatganesh@protonmail.com
[core]
	editor = hx
	pager = delta
[commit]
	template = /home/sga/.gitmessage.txt
[init]
	defaultBranch = trunk
[merge]
	conflictstyle = diff3
[diff]
	submodule = log
[delta]
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
